@import "variables";

h1 {
    color: $red-color;
}

.test {
    margin-top: 10px;
}

// .container {
//     max-width: 1440px;
// }
.card {
    margin-top: 20px;
}
.canhle {
    margin-left: auto;
}
.dropdown {
    font-size: 20px;
    // color: blue;
}
