<div class="mt-4">
    <h3>Đăng bài</h3>

    <form method="post" action="/cac-xa/store">
        <div class="mb-3 form-group">
            <label for="name" class="form-label">Tên địa chỉ</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3 form-group">
            <label for="descripton" class="form-label">Mô tả nội dung</label>
            <input
                type="text"
                class="form-control"
                id="descripton"
                name="descripton"
            />
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh</label>
            <input type="text" class="form-control" id="img" name="img" />
        </div>
        <div class="mb-3 form-group">
            <label for="videoID" class="form-label">Video clip</label>
            <input
                type="text"
                class="form-control"
                id="videoID"
                name="videoID"
            />
        </div>

        <button type="submit" class="btn btn-primary">Thêm bài mới</button>
    </form>

</div>